<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>添加案件</title>
<link type="text/css" rel="stylesheet" href="/static/css/style.css" >
<style type="text/css">
	.login_form{
		height:420px;
		margin-top: 25px;
	}
</style>
<script src="/static/script/jquery-1.7.2.js"></script>
<script>
	$(function(){
		//给添加按钮绑定单击事件
		$("#sub_btn").click(function(){});
		//将显示错误提示信息的span标签隐藏
		$("#msg").hide();
		if("{{.}}"=="案件信息已注册"){
			$("#msg").show();
		}
		//给输入客户账号的文本框绑定change事件
		$("#id").change(function(){
			var id = $(this).val();
			var url = "/GetQuestionByID";
			var param = {"id":id};
			$.post(url,param,function(res){
				$("#msg").show();
				$("#msg").html(res);
			});
		});
	});
</script>
</head>
<body>		
	<div id="table_1">案件添加页面</div>
	<div id="login_header">
		</div>
			<div class="login_banner3">
			
				<div id="l_content">
					<span class="login_word">添加案件信息</span>
				</div>
				
				<div id="content">
					<div class="login_form3">
						<div class="login_box">
							<div class="tit">
								<h1>案件信息</h1>
								<span class="errorMsg" id="msg">{{.}}</span>
							</div>
							<br>
							<div class="form">
								<form action="/question_add" method="POST">
									<label>案件名称：</label>
									<input class="itxt" type="text" placeholder="请输入案件名称" autocomplete="off" tabindex="1" name="name" id="name" />
									<br />
                                    <br />
									<label>客户账号：</label>
									<input class="itxt" type="text" placeholder="请输入客户账号" autocomplete="off" tabindex="1" name="username" id="username" />
									<br />
									<br />
                                    <label>客户电话：</label>
									<input class="itxt" type="text" placeholder="请输入客户电话" autocomplete="off" tabindex="1" name="phone"" id="phone" />
									<br />
									<br />
									<label>案件类型：</label>
									<input class="itxt" type="text" placeholder="请输入案件类型" autocomplete="off" tabindex="1" name="genre" id="genre" />
									<br />
									<br />
									<label>案件状态：</label>
									<input class="itxt" type="text" placeholder="请输入案件状态" autocomplete="off" tabindex="1" name="state" id="state" />
									<br />
                                    <br />
									<input type="submit" value="添加案件" id="sub_btn" />
								</form>
							</div>
							
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="bottom">
			<span>
			  律师服务系统
			</span>
		  </div>
</body>
</html>