<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>相关文章</title>
<link type="text/css" rel="stylesheet" href="/static/css/style.css" >
<script src="/static/script/jquery-1.7.2.js"></script>
</head>
<body>	
    <div id="main">
		<table>
            
			<tr>
				<td>文章编号</td>
				<td>作者姓名</td>
				<td>作者编号</td>
				<td>文章类型</td>
				<td>文章标题</td>
			</tr>	
		{{range .Articles}}		
			<tr>
				<td>{{.ID}}</td>
				<td>{{.Author}}</td>
				<td>{{.Authorid}}</td>
				<td>{{.Genre}}</td>
				<td>{{.Title}}</td>
				<td>{{.Text}}</td>
			</tr>	
		{{end}}
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
            </tr>
        </table>
    </div>
        <br><button type="button"><a href="/main">返回登陆页面</a></button></br>
	</div>
	
	<div id="bottom">
		<span>
            律师服务系统
		</span>
	</div>
</body>
</html>