<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>律师服务系统</title>
</head>
<body>
  <from action="http://localhost:8080/http" method="POST">
    <table border="0">
      <tr>
        <td rowspan="4">欢迎来到律师服务系统</td>
      </tr>
      <tr>        
        <td><div>
          <button type="button"><a href="pages/user/login.html">客户登录</a></button>
        </div></td>
      </tr>
      <tr>
          <td><div>
            <button type="button"><a href="pages/lawyer/login.html">律师登录</a></button>
          </div></td>
      </tr>
      <tr>
          <td><div>
            <button type="button"><a href="pages/article/article.html">相关文章</a></button>
          </div></td>
      </tr>
    </table>
</body>
</html>