<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>律师服务系统</title>
<link type="text/css" rel="stylesheet" href="static/css/style.css">
</head>
<body>
  <from action="http://localhost:8080/http" method="POST">
  	<div id="header">
      <span class="wel_word">欢迎来到律师服务网站</span>
    </div>
    <br><div id="table_1">律师服务系统</div></br>
          <br><div id="table_2"><button type="button"><a href="pages/user/login.html" >客户登录</a></button></div></br>
          <br><div id="table_2"><button type="button"><a href="pages/lawyer/login.html">律师登录</a></button></div></br>
          <br><div id="table_2"><button type="button"><a href="pages/article/article.html">相关文章</a></button></div></br>
    </div>
    </table>      
    <div id="bottom">
        <span>
          律师服务系统
        </span>
      </div>
</body>
</html>