<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>编辑图书</title>
<link type="text/css" rel="stylesheet" href="/static/css/style.css" >
<style type="text/css">
	h1 {
		text-align: center;
		margin-top: 200px;
	}
	
	h1 a {
		color:red;
	}
	
	input {
		text-align: center;
	}
</style>
</head>
<body>		
		<div id="main">
			<form action="/updateOraddBook" method="POST">
				<table>
					<tr>
						<td>客户账号</td>
						<td>案件名称</td>
						<td>联系电话</td>
						<td>案件分类</td>
						<td>案件状态</td>
					</tr>		
					<tr>
					{{if .}}	
						<input type="hidden" name="bookId" value="{{.ID}}" />
						<td><input name="username" type="text" value="{{.Username}}"/></td>
						<td><input name="name" type="text" value="{{.Name}}"/></td>
						<td><input name="phone" type="text" value="{{.Phone}}"/></td>
						<td><input name="genre" type="text" value="{{.Genre}}"/></td>
						<td><input name="state" type="text" value="{{.State}}"/></td>
					{{else}}
						<td><input name="username" type="text" /></td>
						<td><input name="name" type="text" /></td>
						<td><input name="phone" type="text" /></td>
						<td><input name="genre" type="text" /></td>
						<td><input name="state" type="text" /></td>
					{{end}}	
						<td><input type="submit" value="提交"/></td>
					</tr>		
				</table>
				<br><button type="button"><a href="pages/user/login_success.html">返回登陆页面</a></button></br>
			</form>
			
	
		</div>
		
		<div id="bottom">
			<span>
			  律师服务系统
			</span>
		  </div>
</body>
</html>